html, body {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 40px 0;
    font-size: 18px;
    color: #444444;
    line-height: 1.6;
    max-width: 90%;
}

button, input[type='submit'] {
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    background-color: #4b75ff;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover, input[type='submit']:hover {
    background-color: #1b3ca8;
}

h1,h2,h3 {
    line-height: 1.2
}

fieldset {
    border: none;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
}

form {
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
}

form div {
    text-align: center;
}

